-
	const productAr = [
		{
			imgB: "./assets/images/product-section/1.png",
			imgW: "./assets/images/product-section/1.webp",
		},
		{
			imgB: "./assets/images/product-section/1.png",
			imgW: "./assets/images/product-section/1.webp",
		},
		{
			imgB: "./assets/images/product-section/1.png",
			imgW: "./assets/images/product-section/1.webp",
		},
	];

-
	const thumbsAr = [
		{
			imgB: "./assets/images/product-section/t1.png",
			imgW: "./assets/images/product-section/t1.webp",
		},
		{
			imgB: "./assets/images/product-section/t1.png",
			imgW: "./assets/images/product-section/t1.webp",
		},
		{
			imgB: "./assets/images/product-section/t1.png",
			imgW: "./assets/images/product-section/t1.webp",
		},
	];

-
	const params = [
		{
			key: 'Материал:',
			value: 'Алюминиевый сплав/стеклоармированный полиамид'
		},
		{
			key: 'Исполнение:',
			value: 'Изолированный(-ая)'
		},
		{
			key: 'МРН, кН:',
			value: '22'
		},
		{
			key: 'Сечение жилы:',
			value: '70-95 мм2'
		},
		{
			key: 'Вес:',
			value: '765 г.'
		},
	];

-
	const accoList = [
		{
			button: 'Характеристики',
			text: `Корпус выполнен из алюминиевого сплава методом экструзии,
			внутренняя часть изготовлена из армированного диэлектрического
			композиционного пластика, устойчивого к ультрафиолетовому излучению,
			что обеспечивает высокую надежность зажима и его стойкость к
			механическим воздействиям. Клиновидная вставка выполнена
			из изоляционного материала для защиты нулевой жилы двойной
			изоляцией. Трос с шаровым креплением на обоих концах для удобства
			монтажа и надежной фиксации имеет специальную накладку (коуш),
			защищающую его от износа при креплении на кронштейне (крюке)`
		},
		{
			button: 'Преимущества применения',
			text: `Корпус выполнен из алюминиевого сплава методом экструзии,
			внутренняя часть изготовлена из армированного диэлектрического
			композиционного пластика, устойчивого к ультрафиолетовому излучению,
			что обеспечивает высокую надежность зажима и его стойкость к
			механическим воздействиям. Клиновидная вставка выполнена
			из изоляционного материала для защиты нулевой жилы двойной
			изоляцией. Трос с шаровым креплением на обоих концах для удобства
			монтажа и надежной фиксации имеет специальную накладку (коуш),
			защищающую его от износа при креплении на кронштейне (крюке)`
		},
		{
			button: 'Особенности',
			text: `Корпус выполнен из алюминиевого сплава методом экструзии,
			внутренняя часть изготовлена из армированного диэлектрического
			композиционного пластика, устойчивого к ультрафиолетовому излучению,
			что обеспечивает высокую надежность зажима и его стойкость к
			механическим воздействиям. Клиновидная вставка выполнена
			из изоляционного материала для защиты нулевой жилы двойной
			изоляцией. Трос с шаровым креплением на обоих концах для удобства
			монтажа и надежной фиксации имеет специальную накладку (коуш),
			защищающую его от износа при креплении на кронштейне (крюке)`
		},
	];

section.section.product-section.js-product-swiper
	.product-section__site-container
		.product-section__body
			.product-section__carousel
				.product-section__image-slider
					.product-section__image-swiper.swiper
						ul.product-section__image-swiper-wrapper.swiper-wrapper
							for i in productAr
								li.product-section__image-swiper-slide.swiper-slide
									picture
										source(type="image/webp" srcset=i.imgB alt="")
										img(src=i.imgW alt="")

				.product-section__thumbs-wrapper
					.product-section__thumbs-swiper.swiper
						ul.product-section__thumbs-swiper-wrapper.swiper-wrapper
							for t in thumbsAr
								li.product-section__thumbs-swiper-slide.swiper-slide
									source(type="image/webp" srcset=t.imgB alt="")
									img(src=t.imgW alt="")

				.product-section__scroll-icon
					+icon-multi('scroll-icon')

				.product-section__pagination
					.swiper-pagination

			.product-section__info.info-product
				.info-product__top
					span.info-product__tag Подвесная арматура

				.info-product__main
					.info-product__title
						p.info-product__name Анкерный клиновый зажим
						sapn.info-product__art-name ра 2000

					.info-product__code
						span.info-product__code-key Артикул:
						span.info-product__code-value 10800152

					.info-product__col
						p.info-product__text
							| Используются для анкерного крепления защищенных проводов
							| к натяжным изоляторам на концевых и угловых опорах.

						a.info-product__link.button.button--white(href="#") узнать о наличии

				.info-product__params.product-params
					p.product-params__title Технические параметры

					ul.product-params__list
						for param in params
							li.product-params__item
								span.product-params__key= param.key
								span.product-params__value= param.value

				.info-product__acco.js-nav-wrapper
					ul.modal-filters__nav-list
						for item in accoList
							li.nav-item.nav-item--expand.nav-item--bigger.js-nav-item
								button.nav-item__button.nav-item__button--border(type="button")
									span= item.button

								.nav-item__dropdown
									.nav-item__list
										p.nav-item__text= item.text
