mixin select(name='name-1', inputs=[{text: 'text', id: 'id', checked: false}], label=false)
  .select&attributes(attributes)
    if label == false
      span.select__heading.select__heading--hidden заголовок
    else
      span.select__heading= label

    button.select__current(type="button")= inputs[0].text

    .select__dropdown
      ul.select__list
        for i in inputs
          li.select__item
            label.select__label(for=i.id)
              input(type="radio", hidden,
                checked=i.checked,
                name=name,
                id=i.id
              )
              span.select__text #{i.text}

              span.select__icon
