-
  const slides = [
    {
      imgBjpg: './assets/images/intro/image-1N.jpg',
      imgBwebp: './assets/images/intro/image-1N.webp',
      imgMjpg: './assets/images/intro/image-1mn.jpg',
      imgMwebp: './assets/images/intro/image-1mn.webp',
      yText: 'Высоковольтная',
      wText: 'кабельная арматура',
      gText: '110-500 кВ',
    },
    {
      imgBjpg: './assets/images/intro/image-2N.jpg',
      imgBwebp: './assets/images/intro/image-2N.webp',
      imgMjpg: './assets/images/intro/image-2mn.jpg',
      imgMwebp: './assets/images/intro/image-2mn.webp',
      yText: 'кабельная',
      wText: 'арматура',
      gText: '1-35 кВ',
    },
    {
      imgBjpg: './assets/images/intro/image-3N.jpg',
      imgBwebp: './assets/images/intro/image-3N.webp',
      imgMjpg: './assets/images/intro/image-3mn.jpg',
      imgMwebp: './assets/images/intro/image-3mn.webp',
      yText: 'Арматура',
      wText: 'для СИП',
      gText: '0,4 кВ и 6-35 кВ',
    },
  ];

-
  const cardsInfo = [
    {
      id: 0,
      href: '#',
      name: 'Высоковольтная кабельная арматура',
      chars: '110 - 500 кВ',
      image: './assets/images/cards/pic-1.png',
    },
    {
      id: 1,
      href: '#',
      name: 'кабельная арматура',
      chars: '1-35 кВ',
      image: './assets/images/cards/pic-2.png',
    },
    {
      id: 2,
      href: '#',
      name: 'Арматура для СИП',
      chars: '0,4 кВ и 6-35 кВ',
      image: './assets/images/cards/pic-3.png',
    },
  ];

section.section.intro.js-intro-swiper-box
  .intro__image-slider
    .intro__image-swiper.swiper
      ul.intro__image-swiper-wrapper.swiper-wrapper
        for slide in slides
          li.intro__image-swiper-slide.swiper-slide(data-swiper-parallax-opacity="0.1")
            .intro__picture-container
              picture
                source(type="image/webp" srcset=slide.imgMjpg media="(max-width: 769px)" alt="")
                source(type="image/webp" srcset=slide.imgMwebp media="(max-width: 769px)" alt="")
                source(type="image/webp" srcset=slide.imgBwebp media="(min-width: 769px)" alt="")
                img(src=slide.imgBjpg alt="")
            .intro__site-container.intro__info-container
              .intro__slide-info
                .intro__title
                  .intro__title-yellow-text
                    span= slide.yText
                  .intro__title-white-text
                    span= slide.wText
                  .intro__title-grey-text
                    span= slide.gText

                .intro__quality-mark.quality-mark.hide-on-mobile
                  +icon-multi('mark')
                  p.quality-mark__text
                    | Высокотехнологичная продукция европейских стандартов

                a.intro__slide-link.button.button--bigger.show-on-mobile Подробнее

      .intro__image-pagination
        .swiper-pagination

  .intro__site-container.intro__thumbs-wrapper
    a.intro__slide-link.button.button--bigger.show-on-mobile Подробнее
    ul.intro__thumbs-list
      for card in cardsInfo
        li.intro__thumb-item
          a.intro__thumbs.card(href="#", id="product-card-" + card.id, class= card.id === 0 ? "card--hover" : "")
            .card__body
              .card__header
                p.card__name= card.name
                span.card__chars= card.chars
              .card__icon
                +icon-multi('card-icon')
              .card__image
                img(class="lazy" src=card.image alt="")
