-
  const mobileNavs = [
    {
      button: 'Подвесная арматура',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-m001',
          value: 'cat-id-001'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-m002',
          value: 'cat-id-002'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-m003',
          value: 'cat-id-003'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-m004',
          value: 'cat-id-004'
        },
        {
          text: 'Анкерные болтовые зажимы для магистрального СИП-4 серии RPA',
          id: 'cat-id-m008',
          value: 'cat-id-008'
        },
        {
          text: 'Анкерные кронштейны для крепления СИП к стенам зданий CT 600, CB 600',
          id: 'cat-id-m005',
          value: 'cat-id-005'
        },
        {
          text: 'Крюки универсальные CS 16, CF 16, CF 20',
          id: 'cat-id-m006',
          value: 'cat-id-006'
        },
        {
          text: 'Поддерживающие зажимы для СИП-2 серии PS',
          id: 'cat-id-m007',
          value: 'cat-id-007'
        },
        {
          text: 'Поддерживающие зажимы для СИП-4 серии PSP',
          id: 'cat-id-m009',
          value: 'cat-id-009'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-m010',
          value: 'cat-id-010'
        },
      ]
    },
    {
      button: 'Ответвительная арматура',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-m0101',
          value: 'cat-id-0101'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-m0102',
          value: 'cat-id-0102'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-m0103',
          value: 'cat-id-0103'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-m0104',
          value: 'cat-id-0104'
        },
      ]
    },
    {
      button: 'Вспомогательная арматура',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-mm0201',
          value: 'cat-id-0201'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-mm0202',
          value: 'cat-id-0202'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-mm0203',
          value: 'cat-id-0203'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-mm0204',
          value: 'cat-id-0204'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-mm0205',
          value: 'cat-id-0205'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-mm0206',
          value: 'cat-id-0206'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-mm0207',
          value: 'cat-id-0207'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-mm0208',
          value: 'cat-id-0208'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-mm0209',
          value: 'cat-id-0209'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-mm0210',
          value: 'cat-id-0210'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-mm0211',
          value: 'cat-id-0211'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-mm0212',
          value: 'cat-id-0212'
        },
      ]
    },
    {
      button: 'Устройства и приспособления для защиты ВЛИ',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-m0301',
          value: 'cat-id-0301'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-m0302',
          value: 'cat-id-0302'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-m0303',
          value: 'cat-id-0303'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-m0304',
          value: 'cat-id-0304'
        },
      ]
    },
  ];


.modal.modal-filters
    .modal__container.modal-sorting__container.modal-filters__container(data-target="modal-filters")
        form.modal-sorting__body.modal-filters__body.js-nav-wrapper(action="")
            .modal-sorting__heading.modal-filters__heading
                p.modal-sorting__title Фильтры
                button.modal-sorting__close.modal-close(type="button")
                    +icon-multi('close')

            .modal-filters__filters
                ul.modal-filters__nav-list
                    for item in mobileNavs
                        li.nav-item.nav-item--expand.js-nav-item
                            button.nav-item__button.nav-item__button--border(type="button")
                                span= item.button

                            .nav-item__dropdown
                                ul.nav-item__list
                                    for label in item.checboxes
                                        li.nav-item__item
                                            label.nav-item__label(for=label.id)
                                                input(type="radio", hidden, value="",
                                                    name=item.name,
                                                    id=label.id
                                                )
                                                i
                                                span=label.text

            .modal-filters__footer
                button.button.button--biggest.modal-filters__submit(type="submit")
                    | Применить
                label.modal-filters__reset
                    input(type="reset", value="Сбросить фильтры")
                    +icon-multi('close')
