-
  const navs = [
    {
      button: 'Подвесная арматура',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-001',
          value: 'cat-id-001'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-002',
          value: 'cat-id-002'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-003',
          value: 'cat-id-003'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-004',
          value: 'cat-id-004'
        },
        {
          text: 'Анкерные болтовые зажимы для магистрального СИП-4 серии RPA',
          id: 'cat-id-008',
          value: 'cat-id-008'
        },
        {
          text: 'Анкерные кронштейны для крепления СИП к стенам зданий CT 600, CB 600',
          id: 'cat-id-005',
          value: 'cat-id-005'
        },
        {
          text: 'Крюки универсальные CS 16, CF 16, CF 20',
          id: 'cat-id-006',
          value: 'cat-id-006'
        },
        {
          text: 'Поддерживающие зажимы для СИП-2 серии PS',
          id: 'cat-id-007',
          value: 'cat-id-007'
        },
        {
          text: 'Поддерживающие зажимы для СИП-4 серии PSP',
          id: 'cat-id-009',
          value: 'cat-id-009'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-010',
          value: 'cat-id-010'
        },
      ]
    },
    {
      button: 'Ответвительная арматура',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-0101',
          value: 'cat-id-0101'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-0102',
          value: 'cat-id-0102'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-0103',
          value: 'cat-id-0103'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-0104',
          value: 'cat-id-0104'
        },
      ]
    },
    {
      button: 'Вспомогательная арматура',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-0201',
          value: 'cat-id-0201'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-0202',
          value: 'cat-id-0202'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-0203',
          value: 'cat-id-0203'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-0204',
          value: 'cat-id-0204'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-0205',
          value: 'cat-id-0205'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-0206',
          value: 'cat-id-0206'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-0207',
          value: 'cat-id-0207'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-0208',
          value: 'cat-id-0208'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-0209',
          value: 'cat-id-0209'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-0210',
          value: 'cat-id-0210'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-0211',
          value: 'cat-id-0211'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-0212',
          value: 'cat-id-0212'
        },
      ]
    },
    {
      button: 'Устройства и приспособления для защиты ВЛИ',
      name: 'cat-name',
      checboxes: [
        {
          text: 'Анкерные клиновые зажимы для СИП-2 серии PA',
          id: 'cat-id-0301',
          value: 'cat-id-0301'
        },
        {
          text: 'Анкерные поддерживающие клиновые зажимы для СИП-2 серии PAG',
          id: 'cat-id-0302',
          value: 'cat-id-0302'
        },
        {
          text: 'Анкерные клиновые зажимы для СИП-4 серий PA и PAK',
          id: 'cat-id-0303',
          value: 'cat-id-0303'
        },
        {
          text: 'Анкерные болтовые зажимы для ввода в дом СИП-4 серии PA M',
          id: 'cat-id-0304',
          value: 'cat-id-0304'
        },
      ]
    },
  ];

-
  const selectInputs = [
    {
      text: "Популярные",
      id: "radio-sort-popular",
      checked: true,
    },
    {
      text: "Новые",
      id: "radio-sort-new",
      checked: false,
    },
    {
      text: "По алфавиту (от А до Я)",
      id: "radio-sort-alpbt-up",
      checked: false,
    },
    {
      text: "По алфавиту (от Я до А)",
      id: "radio-sort-alpbt-down",
      checked: false,
    },
  ];

-
  const productCards = [
    {
      id: 'product-card-id-001',
      class: '',
      image: './assets/images/products/2.png',
      name: 'Изолированный прессуемый наконечник серии CPTAR',
      chars: [
        {
          key: 'Наименование',
          value: 'Изолированный прессуемый наконечник серии CPTAR'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-002',
      class: '',
      image: './assets/images/products/1.png',
      name: 'Поддерживающий зажим для СИП-2 серии PS 16-95',
      chars: [
        {
          key: 'Наименование',
          value: 'Поддерживающий зажим для СИП-2 серии PS 16-95'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-003',
      class: '',
      image: './assets/images/products/3.png',
      name: 'Анкерный клиновый зажим для СИП-2 PA 1000',
      chars: [
        {
          key: 'Наименование',
          value: 'Анкерный клиновый зажим для СИП-2 PA 1000'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-004',
      class: '',
      image: './assets/images/products/4.png',
      name: 'Анкерный поддерживающий клиновый зажим для СИП-2 PAG 216/35',
      chars: [
        {
          key: 'Наименование',
          value: 'Анкерный поддерживающий клиновый зажим для СИП-2 PAG 216/35'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-005',
      class: '',
      image: './assets/images/products/5.png',
      name: 'Анкерный клиновый зажим для СИП-4 PA 4/25',
      chars: [
        {
          key: 'Наименование',
          value: 'Анкерный клиновый зажим для СИП-4 PA 4/25'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-006',
      class: '',
      image: './assets/images/products/6.png',
      name: 'Герметичный ответвительный прокалывающий зажим N 640',
      chars: [
        {
          key: 'Наименование',
          value: 'Герметичный ответвительный прокалывающий зажим N 640'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-007',
      class: '',
      image: './assets/images/products/7.png',
      name: 'Анкерный болтовой зажим для ввода в дом СИП-4 PA 2/35 M',
      chars: [
        {
          key: 'Наименование',
          value: 'Анкерный болтовой зажим для ввода в дом СИП-4 PA 2/35 M'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-008',
      class: '',
      image: './assets/images/products/8.png',
      name: 'Поддерживающий зажим для СИП-2 PS 1500',
      chars: [
        {
          key: 'Наименование',
          value: 'Поддерживающий зажим для СИП-2 PS 1500'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
    {
      id: 'product-card-id-009',
      class: '',
      image: './assets/images/products/9.png',
      name: 'Поддерживающий зажим для СИП-2 PS 1500',
      chars: [
        {
          key: 'Наименование',
          value: 'Поддерживающий зажим для СИП-2 PS 1500'
        },
        {
          key: 'Марка',
          value: 'PAG 216/35'
        },
        {
          key: 'Артикул',
          value: '10800152'
        }
      ]
    },
  ];

section.section.subcategories
  .subcategories__site-container
    .subcategories__heading
      h2.subcategories__title
        | Арматура для СИП
        br
        |0,4 кВ и 6-35 кВ

      p.subcategories__desc
        | Арматура для самонесущих изолированных проводов (СИП) — это набор
        | приспособлений, которые используются для монтажа, соединения и защиты
        | проводов в электрических сетях.

    .subcategories__grid
      .subcategories__aside.hide-on-mobile
        form.subcategories__nav.js-nav-wrapper(action="", data-from-reset)
          ul.subcategories__nav-list
            for item in navs
              li.subcategories__nav-item.nav-item.js-nav-item
                button.nav-item__button(type="button")= item.button
                .nav-item__dropdown
                  ul.nav-item__list
                    for label in item.checboxes
                      li.nav-item__item
                        label.nav-item__label(for=label.id)
                          input(type="checkbox", hidden, value="",
                            name=item.name,
                            id=label.id
                          )
                          i
                          span=label.text

          label.subcategories__reset
            input(class="js-forms-reset" type="reset" value="Сбросить фильтры")
            +icon-multi('reset-cross')

      .subcategories__main
        form.subcategories__control-panel(data-for-reset)
          button.subcategories__filters-open.filters-open.show-on-mobile(type="button" data-path="modal-filters")
            span Фильтр
            +icon-multi('filter-icon')

          +select('sorting-select', selectInputs)(class='subcategories__select hide-on-mobile')

          .subcategories__search.cat-search.hide-on-mobile
            input#sorting-search(
              type="search",
              name="subcategories-search",
              placeholder="Введите слово для поиска"
            )
            button найти

          button.subcategories__mobile-sorting.show-on-mobile(type="button" data-path="modal-sorting")
            +icon-multi('sorting')

          .subcategories__view-switcher
            .view-switcher
              .view-switcher__row
                input#list-view-switcher-grid(type="radio", hidden, name="list-view-switcher", checked)
                label.view-switcher__label.view-switcher__for-grid(for="list-view-switcher-grid")
                  +icon-multi('view-grid')

                input#list-view-switcher-list(type="radio", hidden, name="list-view-switcher")
                label.view-switcher__label.view-switcher__for-list(for="list-view-switcher-list")
                  +icon-multi('view-list')

        ul.subcategories__list.subcategories__list--triple(data-toggle-list)
          for product in productCards
            li.subcategories__item
              a.subcategories__product-card.product-card(id=product.id, class=product.class)
                .product-card__image-wrapper
                  .product-card__image
                    img(src=product.image, alt="product image")

                  p.product-card__name= product.name

                ul.product-card__chars
                  for chars in product.chars
                    li.product-card__char
                      span.product-card__key= chars.key
                      p.product-card__value= chars.value

                .product-card__arrow
                  span
                  +icon-multi('plus')

        .subcategories__add
          a.button.button--outlined.button--biggest(href="#") загрузить еще 12 из 765
